<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="refresh" content="1"> -->
    <title>Simple form</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
    
    
  </head>
  <body>
 
  <form hx-post="{% url 'updateUser' %}">
    {% csrf_token %}

    <hr>
    <div hidden="true" class="form-group">
      <label for="exampleInputEmail1">Student id</label>
      <input name="app_id" value="{{products.id}}" type="text" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input name="app_name" value="{{products.app_name}}" class="form-control"
        required></input>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input name="app_email" value="{{products.app_email}}" class="form-control"
        required></input>
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputPassword1">Student age</label>
      <input name="demographics_age" value="{{demographics.demographics_age}}" class="form-control"
        required></input>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Student address</label>
      <textarea name="demographics_address" value="{{demographics.demographics_address}}" class="form-control"
        required>{{demographics.demographics_address}}</textarea>
    </div> -->
    <!-- <div class="form-group">
      <label for="exampleInputPassword1">Student Image</label>
      <input name="demographics_image" type="file" class="form-control">
    </div> -->
 
    <button type="submit" class="btn btn-success">Update Student</button>
  </form>
 
 
</div>
 
</body>
</html>